@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

#content-list {
    & > .content-entry {
        padding: @grid-gutter-width/2 0;
        
        &:hover {
            background-color: @list-group-hover-bg;
            cursor: pointer;
        }
    }

    .title {
        font-size: 14pt;
    }
}