@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

#content-list {
    & > .row {
        margin-bottom: 15px;
    }

    .title {
        font-size: 14pt;
    }
}

#content-preview-placeholder {
    color: #eee;
    text-align: center;
    margin-top: 3em;
}